<div class="alert alert-success col-md-3 col-sm-3">
    <strong>Quantity of {{category}} products :</strong><b>{{Qty_products}}</b>
</div>

<div class="col-md-9 col-sm-12">
    <app-filter-category></app-filter-category>
</div>

<div class="col-md-12 col-sm-12" *ngIf='products'>
    <button class="btn btn-primary btn-sm float-right " routerLink="/cart" [queryParams]="{id:cartid}">Cart<i class=" fa fa-shopping-cart"
    aria-hidden="true"></i>
<span class="badge badge-warning">{{Qty_items}}</span>

  </button>

    <div class="input-group col-md-4">
        <input class="form-control py-2" type="search" placeholder="search...." [(ngModel)]="term">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>

    </div>

    <div class="card col-md-3 col-sm-5 m-3" *ngFor=' let product of products |filter:term'>
        <div class="card-body">
            <app-picture [img]="product.imageurl"></app-picture>
            <h4 class="card-title">{{ product.productname}}</h4>
            <p class="card-text"> {{ product.price |currency }}</p>
            <!-- <p class="card-text"> {{ product.categoryid.name }}</p> -->
            <app-cart-item (paernt)="Qty($event)" [productid]='product._id'></app-cart-item>

        </div>
    </div>
</div>
<app-navbar [total]='Qty_items'></app-navbar>