<img class="style" src="../assets/images/shopping.jpg" alt="" width=100% height=900px>
<div class="alert alert-primary ">
    <strong>{{message  }}</strong>
</div>
<div class="alert alert-primary " [hidden]="this.lest_order_id === this.shopping_id">
    <strong> Total items in cart <b>{{total_amount }}</b></strong>
</div>
<div (click)="start()" routerLinkActive=" active" [hidden]="this.lest_order_id !== this.shopping_id">
    <img class="start" src="../assets/images/start shopping.jpg" alt="">
    <h1>Start shopping</h1>

</div>
<div (click)="Continue()" routerLinkActive=" active" [hidden]="this.lest_order_id === this.shopping_id">
    <img class="start" src="../assets/images/start shopping.jpg" alt="">
    <h1 class="Continue">Continue shopping
    </h1>
    <app-navbar [total]='total_amount'></app-navbar>
</div>